<div class="content_title">
  <h2>Listing Users</h2>
</div>
<div class="options">
  <%= link_to image_tag("add.png",:size=>"18x18") + 'Add', new_user_path if user_is_admin? %>
</div>
<table class="list_record">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h get_user_name(user.id) %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td class="list_option">
        <%= link_to image_tag("view.gif"), user %>
        <%= link_to image_tag("edit.png"), edit_user_path(user) if user_is_admin? %>
        <%= link_to image_tag("close.png"), user, :confirm => 'Are you sure?', :method => :delete if user_is_admin? %></td>
  </tr>
<% end %>
</table>