<div class="content_title">
  <h2>Welcome <%= session[:current_user] %>!</h2>
</div>
<div class="options">
  <%= link_to image_tag("add.png",:size=>"18x18") + 'Add Property', new_property_account_path %>
  <%= link_to image_tag('edit.png',:size=>'18x18') + 'Edit Profile', edit_user_path %>
</div>
<hr class="space"></hr>
<% unless @properties.blank? %>
<h3>Please select one property account to start with:</h3>

<table class="show_record">
  <% @properties.each do |property|  %>
  <tr>
    <th><%=h property.nick_name %>:</th>
    <td><%=h property.number_of_bedrooms%> bedrooms <%=h property.property_type %> in Auckland</td>
    <td class="list_option"><%= link_to image_tag("view.gif",:size=>"16x16") + 'select', property_account_path(property.id) %></td>
  </tr>
  <% end %>
</table>
  
<% else %>
  <hr/>
  <h3>Opps! you don't have any property accounts in system yet</h3>
  <br/>
  <%= link_to image_tag('add.png',:size=>'18x18') + '<b>Click here</b>', new_property_account_path %> to add your property details!
<% end %>
