<div class="content_title">
  <h2>Listing Categories</h2>
</div>
<div class="options">
  <%= link_to image_tag("add.png",:size=>"18x18")+'Add', new_category_path %>
</div>
<table class="list_record">
  <tr>
    <th>id</th>
    <th>Description</th>
    <th>Parent Category</th>
    <th>Category Type</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.id  %></td>
    <td><%=h category.description%></td>
    <td><%=h category.parent_id%></td>
    <td><%=h category.category_type%></td>
    <td class="list_option"><%= link_to image_tag("view.gif"), category %>
        <%= link_to image_tag("edit.png"), edit_category_path(category) if user_is_admin? %>
        <%= link_to image_tag("close.png"), category, :confirm => 'Are you sure?', :method => :delete if user_is_admin? %></td>
  </tr>
<% end %>
</table>