  <p>
  <%= f.error_messages %>
  </p>

  <p>
    <% selection = PropertyAccount.find(:all,:conditions=>['user_id = ?',session[:current_user_id]]).collect{|p|[p.property_name,p.id]} %>
    Property Account: <%= f.select 'property_account_id', selection,:selected=>session[:current_property_id] %>
  </p>
  <p>
    Date: <%= f.date_select 'date' %>
  </p>
  <p>
    Description: <%= f.text_field 'description' %>
  </p>
  <p>
    Transaction Type: <%= f.select 'transaction_type',dr_cr_selection %>
  </p>
  <p>
    Category: <%= f.select 'category_id', Category.find(:all).collect{|c|[c.description,c.id]}, :include_blank=>true %> Can't find proper category? <%= link_to 'add your own category', new_category_path %> or leave blank.
  </p>
  <p>
    Amount: <%= f.text_field 'amount' %>
  </p>
  
