<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Property Management System</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'screen', :media=>'screen' %>
  <%= stylesheet_link_tag 'print', :media=>'print' %>
  <%= stylesheet_link_tag 'scaffold', :media=>'screen' %>
</head>
<body>
<div class="container">
  <header>
    <%= image_tag("logo.gif",:size=>'100x100', :alt => "Sample App", :class => "round") %>
      <nav class="round">
        <ul>
          <% unless session[:current_user].blank? %>
            <li><%=h session[:current_user] %></li>
          <% end %>
          <li><%= link_to "Home", :action=>'welcome' %></li>
          <li><%= link_to "Help", '#' %></li>
          <% if session[:current_user].blank? %>
            <li><%= link_to "Sign in", {:action=>'sign_in'} %></li>
          <% else %>
            <li><%= link_to "Sign out", :action=>'sign_out' %></li>
          <% end %>
        </ul>
      </nav>
      </header>
      <section class="round">
        <p style="color: green"><%= flash[:notice] %></p>
        <p style="color: red"><%= flash[:error] %></p>
        <%= yield %>
      </section>
    </div>
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
