<div class="content_title">
  <h2>Property List for <%=h session[:current_user]%></h2>
</div>
<div class="options">
  <%= link_to image_tag("add.png",:size=>"18x18") + 'Add', new_property_account_path %>
</div>
<table class="list_record">
  <tr>
    <th>id</th>
    <th>Property Type</th>
    <th>Number of Bedrooms</th>
    <th>Suburb</th>
    <th></th>
  </tr>

<% @property_accounts.each do |property_account| %>
  <tr>
    <td><%=h property_account.id %></td>
    <td><%=h property_account.property_type %></td>
    <td><%=h property_account.number_of_bedrooms %></td>
    <td><%=h property_account.address_3 %></td>
    <td class="list_option">
        <%= link_to image_tag("view.gif"), property_account %>
        <%= link_to image_tag("edit.png"), edit_property_account_path(property_account) if user_is_owner?(property_account.user_id) || user_is_admin? %>
        <%= link_to image_tag("close.png"), property_account, :confirm => 'Are you sure?', :method => :delete if user_is_owner?(property_account.user_id) || user_is_admin? %></td>
  </tr>
<% end %>
</table>