<h2>Property Account</h2>
<hr/>
<b>Owner:</b> <%=link_to get_user_name(@property_account.user_id), user_path(@property_account.user_id) %><br/>
<b>Address:</b> <%=h @property_account.address_1 %> <%=h @property_account.address_2 %> 
         <%=h @property_account.address_3 %> <%=h @property_account.address_4 %> <%=h @property_account.post_code %> <br/>
<b>Property Type:</b> <%=h @property_account.property_type %><br/>
<b>Number of Bedrooms:</b> <%=h @property_account.number_of_bedrooms %>
<br/>
<b>Number of transactions:</b> <%= link_to get_number_of_transactions, :controller=>'transactions',:action=>'index',:property_account_id=>@property_account.id %> (<%= get_number_of_dr_transactions %>,<%= get_number_of_cr_transactions %>) <%= link_to '[add transaction]', :controller=>'transactions',:action=>'new',:property_account_id=>@property_account.id %>
<br/>
<b>Outstanding Balance:</b> $<%=h get_total_balance  %> <small>(for all available transactions)</small>
<br/>
<br/>

<%= link_to 'Add another Property', new_property_account_path %> |
<%= link_to 'Change Property Detail', edit_property_account_path(@property_account) %>