<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div class="content_title">
  <h2>Property Account</h2>
</div>
<div class="options">
    <%= link_to image_tag('add.png',:size=>'18x18') +'Add', new_property_account_path %>
    <%= link_to image_tag('edit.png',:size=>'18x18') +'Edit', edit_property_account_path(@property_account) if user_is_owner?(@property_account.user_id)%>
</div>

<table class="show_record">
  <tr>
    <th>Property Register:</th>
    <td><%=link_to get_user_name(@property_account.user_id), user_path(@property_account.user_id) %></td>
  </tr>
  <tr>
    <th>Nick Name:</th>
    <td><%=h @property_account.nick_name %>
    </td>
  </tr>
  <tr>
    <th>Address:</th>
    <td><%=h @property_account.address_1 %> <%=h @property_account.address_2 %>
        <%=h @property_account.address_3 %> <%=h @property_account.address_4 %> <%=h @property_account.post_code %>
    </td>
  </tr>
  <tr>
    <th>Property Type:</th>
    <td><%=h @property_account.property_type %></td>
  </tr>
  <tr>
    <th>Number of Bedrooms:</th>
    <td><%=h @property_account.number_of_bedrooms %></td>
  </tr>
  <tr>
    <th>Number of transactions:</th>
    <td><%= link_to get_number_of_transactions, :controller=>'transactions',:action=>'index',:property_account_id=>@property_account.id %> (DR:<%= get_number_of_dr_transactions %>, CR:<%= get_number_of_cr_transactions %>) [ <%= link_to image_tag('add.png',:size=>'14x14') + ' add transaction', :controller=>'transactions',:action=>'new',:property_account_id=>@property_account.id %> ]</td>
  </tr>
  <tr>
    <th>Outstanding Balance:</th>
    <td>$<%=link_to get_total_balance, :controller=>'transactions',:action=>'index',:property_account_id=>@property_account.id %> <small>(for all available transactions)</small></td>
  </tr>
</table>

<div id="map_canvas" style="width: 100%; height: 400px;"></div>